<div id="dataset" class="wrapper">
	<div class="main">
		<h2 style="display:inline-block">Monitor</h2>
		<img src="/assets/gfx/delete-icon.png" (click)="reset()" class="add-icon">
		<div *ngIf="loading" style="z-index: 9; top: 50%; left:50%; margin-left: -25px; position: absolute;">
			<div class="center upload-button">
				<img class="loading-icon" src="assets/gfx/loading-icon.png"><br>
				Loading
			</div>
		</div>
		<div class="list">
				<div class="box">
					<div *ngFor="let sensor of sensors">
						<div style="text-align: left">
							<select class="input-field" style="width:25%;margin-left:0px;" [ngModel]="sensor.CurrentLabel" (ngModelChange)="labelChanged(sensor.Mac, $event)">
								<option value="none">none</option>
								<option *ngFor="let label of sensor.Labels" ng-value="label">{{label}}</option>
							</select>
						</div>
						<chart class="chart-half" [options]="dataChartOptions" (load)="saveInstance($event.context, sensor)"></chart>
					</div>
				</div>
		</div>
	</div>
</div>

<!-- <select type="text" [ngModel]="model.TypeId" (ngModelChange)="typeChanged($event)" class="input-field" style="width: 30%;margin: 0px;">
		<option *ngFor="let modelType of modelTypes" [value]="modelType.Id">{{modelType.Name}}</option>
	</select> -->